/* Header */
.header-fluid{ border-bottom: 1px solid #d19535; }
.header .row{
    padding: 20px 0px 0px 0px;
}
.header .identity img{ width: 200px; }
.header .identity span{ 
    text-transform: uppercase; 
    color: #ffffff;
    font-size: 20px;
}
.header .identity .shop-icon{
    position: absolute;
    right: 0;
}
.header .identity .shop-icon a{ margin: 0px 10px; }
.header .identity .shop-icon a img{
    width: 20px;
}

.header .list-navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    padding-bottom: 1em;
}
.header .list-navigation ul{ display: block; }
.header .list-navigation ul li{
    list-style: none;
    display: inline;
    margin: 0px 10px;
    padding: 0px 10px;
    font-size: 15px;    
    text-transform: uppercase;    
}
.header .list-navigation ul li.active a{    
    border-bottom: 3px solid #d19535;
    color: #d19535;
}
.header .list-navigation ul li a{
    text-decoration: none;
    padding-bottom: 1em;
    color: #000000;
    transition: all .5s;
}
.header .list-navigation ul li a:hover{
    color: #d19535;
    transition: all .5s;
}

.header .toggle-section{ padding-bottom: 2em; display: none; }
.header .toggle-section .toggle-nav-dropdown{ width: 30px; transform: rotate(180deg); }

/* home */
.welcome-overlay{
    background-image: url("../img/header_banner.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 77vh;
    width: 100%;
    position: relative;
    display: flex; 
    align-items: center;
}
.welcome-overlay:before{
    content: '';
    position: absolute;
    background: #000000;
    opacity: .4;
    width: 100%;
    height: 77vh;
    top: 0;
}
.welcome-overlay .welcome-card{
    display: flex;
    justify-content: center;
}
.welcome-overlay .welcome-card-content{
    text-align: center;
    color: #ffffff;
}
.welcome-overlay .welcome-card-content p{ margin-top: 2em; color: #cccccc; }
.welcome-overlay .welcome-card-content a{ margin-top: 2em; }

/* shop */
.shop-content-section{ padding-top: 2em; }
.shop-content-section .content-shop-title{ text-align: center; text-transform: capitalize; padding-bottom: 4em; }

.shop-content-section .shop-content-product{ width: 100%; }

.shop-content-section .shop-content-product .menu-product-title{ padding-bottom: 1em; }
.shop-content-section .shop-content-product .menu-product-title h4{ text-transform: uppercase; }
.shop-content-section .shop-content-product .menu{ margin-bottom: 2em; }
.shop-content-section .shop-content-product .menu ul li{
    list-style: none;
    margin-bottom: .5em;
}
.shop-content-section .shop-content-product .menu ul li.active > a{ color: #d19535; font-weight: bold; }
.shop-content-section .shop-content-product .menu ul li a{ color: #5f617f; transition: all .5s; text-transform: capitalize; }
.shop-content-section .shop-content-product .menu ul li a:hover{ color: #d19535; transition: all .5s; }

.shop-content-section .shop-content-product .product-list .product-box{ 
    margin-bottom: 1em; 
}
.shop-content-section .shop-content-product .product-list .frame-img,
.shop-content-section .shop-content-product .product-list .frame-img img{ width: 100%; }
.shop-content-section .shop-content-product .product-list .product-box .product-desc{
    padding-top: .5em;
    padding-bottom: 1.5em;
}
.shop-content-section .shop-content-product .product-list .product-box .product-desc h4{ text-transform: uppercase; }
.shop-content-section .shop-content-product .product-list .product-box .product-desc h4 a{ color: #000000; transition: all .5s; }
.shop-content-section .shop-content-product .product-list .product-box .product-desc h4 a:hover{ color: #d19535; transition: all .5s; }
.shop-content-section .shop-content-product .product-list .product-box .product-desc h4,
.shop-content-section .shop-content-product .product-list .product-box .product-desc span{
    margin-top: .5em;
    margin-bottom: .5em;
}

/* best seller */
.best-seller-section{ padding-top: 2em; }
.best-seller-section .content-shop-title{ text-align: center; text-transform: capitalize; padding-bottom: 4em; }

.best-seller-section .best-seller-product{ width: 100%; }

.best-seller-section .best-seller-product .menu-product-title{ padding-bottom: 1em; }
.best-seller-section .best-seller-product .menu-product-title h4{ text-transform: uppercase; }
.best-seller-section .best-seller-product .menu{ margin-bottom: 2em; }
.best-seller-section .best-seller-product .menu ul li{
    list-style: none;
    margin-bottom: .5em;
}
.best-seller-section .best-seller-product .menu ul li.active > a{ color: #d19535; font-weight: bold; }
.best-seller-section .best-seller-product .menu ul li a{ color: #5f617f; transition: all .5s; text-transform: capitalize; }
.best-seller-section .best-seller-product .menu ul li a:hover{ color: #d19535; transition: all .5s; }

.best-seller-section .best-seller-product .product-list .product-box{ 
    margin-bottom: 1em; 
}
.best-seller-section .best-seller-product .product-list .frame-img,
.best-seller-section .best-seller-product .product-list .frame-img img{ width: 100%; }
.best-seller-section .best-seller-product .product-list .product-box .product-desc{
    padding-top: .5em;
    padding-bottom: 1.5em;
}
.best-seller-section .best-seller-product .product-list .product-box .product-desc h4{ text-transform: uppercase; }
.best-seller-section .best-seller-product .product-list .product-box .product-desc h4 a{ color: #000000; transition: all .5s; }
.best-seller-section .best-seller-product .product-list .product-box .product-desc h4 a:hover{ color: #d19535; transition: all .5s; }
.best-seller-section .best-seller-product .product-list .product-box .product-desc h4,
.best-seller-section .best-seller-product .product-list .product-box .product-desc span{
    margin-top: .5em;
    margin-bottom: .5em;
}


/* Custom Order */
.custom-order-content-section{ padding-top: 2em; padding-bottom: 3em; }
.custom-order-content-section .content-custom-order-title{ text-align: center; text-transform: capitalize; padding-bottom: 4em; }
.custom-order-content-section .form-section form{ margin-top: 3em; }

/* About Us */
.about-us-content-section{ padding-top: 2em; padding-bottom: 3em; }
.about-us-content-section .content-about-us-title{ text-align: center; text-transform: capitalize; padding-bottom: 4em; }
.about-us-content-section .content-about-us-desc{ text-align: center; }

/* Contact */
.contact-content-section{ padding-top: 2em; padding-bottom: 3em; }
.contact-content-section .content-contact-title{ text-align: center; text-transform: capitalize; padding-bottom: 4em; }
.contact-content-section .form-section form{ margin-top: 3em; }

/* footer */
.footer-fluid{ padding: 2em 0em 2em 0em; }
.footer-fluid .copyright a{ 
    font-size: 16px;
    color: #000000;
}

.footer-fluid .list-sosmed ul li{
    list-style: none;
    display: inline;
    margin: 0px 10px;
    font-size: 20px;
    
}
.footer-fluid .list-sosmed ul li a img{ width: 20px; }

.footer-fluid .list-web-info{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.footer-fluid .list-web-info ul li{
    list-style: none;
    display: inline;
    margin: 0px 10px;
    font-size: 16px;    
    text-transform: capitalize;
}
.footer-fluid .list-web-info ul li a{
    text-decoration: none;
    color: #000000;
}